In [11]:
import pandas as pd 
df=pd.read_csv("flight_data_01-22A.csv", sep="," , low_memory=False )

In [12]:
df.shape

(563737, 63)

In [13]:
df.columns

Index(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'FlightDate', 'Marketing_Airline_Network',
       'Operated_or_Branded_Code_Share_Partners', 'DOT_ID_Marketing_Airline',
       'IATA_Code_Marketing_Airline', 'Flight_Number_Marketing_Airline',
       'Operating_Airline ', 'DOT_ID_Operating_Airline',
       'IATA_Code_Operating_Airline', 'Tail_Number',
       'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
       'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
       'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes',
       'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut',
       'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
       'Cancelled', 'Diverted', 'CRSElapsedTime', 'ActualElapsedTime',
       'AirTime', 'Flights', 'Distance', 'DistanceGroup', 'DivAirportLandings',
       'Duplicate'],
      dtype='object')

In [16]:
df.head(10)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,...,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings,Duplicate
0,0,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,1.0,0.0,173.0,NaN,NaN,1.0,1076.0,5,0,N
1,1,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,110.0,113.0,93.0,1.0,581.0,3,0,N
2,2,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,116.0,106.0,83.0,1.0,581.0,3,0,N
3,3,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,123.0,113.0,93.0,1.0,680.0,3,0,N
4,4,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,85.0,78.0,60.0,1.0,341.0,2,0,N
5,5,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,81.0,65.0,49.0,1.0,341.0,2,0,N
6,6,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,110.0,101.0,80.0,1.0,481.0,2,0,N
7,7,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,213.0,197.0,178.0,1.0,1416.0,6,0,N
8,8,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,79.0,69.0,55.0,1.0,356.0,2,0,N
9,9,2022,1,1,6,4,06/01/2022,DL,DL,19790,...,0.0,0.0,91.0,83.0,67.0,1.0,356.0,2,0,N